.footer {
    height: 120px;
    display: center;
    background-color: #222;
    color: #fff;
    padding: 1em;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  .copy_right {
    margin-top: 2em;
  }
  
  .copy_right span{
    font-weight: bold;
    color:#ffbb33;
  }